body{
	height: 1500px;
	background: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.seahorse, .turtle, .bubble, .bubble2, .shark{
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 position: fixed;
 z-index: -1;
 background: url(seahorse.png) 5% 50% no-repeat;
}
 

.turtle{
 background: url(turtle.png) 95% 50% no-repeat;
}

.bubble {
	background: url(bubble.png) 25% 90% no-repeat;
	opacity: .5;
}

.bubble2{
	background: url(bubble2.png) 70% 70% no-repeat;
	opacity: .5;
}

.shark {
 left: -100%;
 background: url(shark.png) right 90% no-repeat;
}


.puppy1, .puppy2, .puppy3, .puppy4, .puppy5{
 width: 200px;
 height: 200px;
 border-radius: 50%;
 position: fixed;
 z-index: -1;

 background-size: cover;
}
 

.puppy1 {
	background: url(puppy1.png) 5% 50% no-repeat;
	top: 300px;
  left: 200px;
}

.puppy2{
 background: url(puppy2.png) 80% 90% no-repeat;
 top: 0;
 left: 0;
}

.cat {
	
}

.puppy3{
 	background: url(puppy4.png) 95% 90% no-repeat;
	top: 200px;
	left: 400px;
}

.puppy4{
 	background: url(puppy5.png) 95% 90% no-repeat;
 	top: 500px;
  left: 800px;
}













